.about-page {
    background: linear-gradient(45deg, #fcfcfc, #b3acbb1c);
    .banner-box{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
text-align: center;
margin: 20px 0;
h1{
    font-size: 52px;
    font-family: 'Poppins';
}
        img{


        height:50px;
        object-fit: cover;
        width: 50px;
    }
    }
.banner{
    display: flex;
    flex-direction: row;
    width: 100;
    align-items: center;
    justify-content: center;

    .dcol{
        display: flex;
        flex-direction: column;
    }
    .drow{
        margin-left: 20px;
        margin-right: 20px;
    }
    img{
        border-radius: 10px;
        margin-bottom: 20px;
        height: 100px;
        object-fit: cover;
        &.sz1{
width: 200px;
height: 200px;
        }
        &.sz2{
            
        }
        &.sz3{
            height: 500px;
            width: 250px;
        }
    }
}
.about-content{
    padding: 10px 100px;
    text-align: center;
    h1{
        font-size: 42px;
        font-family: 'Poppins';
    }
}
}